body {
	margin-top: 10px;
}

#container {
	margin-top: 50px;
}

table {
	border: 1px solid #DADADA;
	width: 100%;
	font-size: 10pt;
}

fieldset [class*="span"] {
	margin-top: -14px;
}
fieldset .row {
	margin-left: 8px;
}

table th {
	border: 1px solid #353535;
	background-color: #77bbd6;
	padding: 2px;
}
table td {
	border: 1px solid #353535;
	padding: 2px;
}

a:hover {
	text-decoration: none;
}
